.nav {
  background-image: linear-gradient(#bad9e8,#27364d);
  height: 100px;
  position: sticky;
}

.nav-item {
  width: 33%;
  text-align: center;
  margin: auto;
}

.nav-link {
  color: white;
  font-size: 30px;
}

.sticky-top {
  top: 0.5em;
}