
.sky {  
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100vh; 
  background: url(clearsky.png);
  background-size: cover;
 } 

.clouds { 
  position: absolute; 
  top: 0; 
  left: 0px; 
  width: 100%; 
  height: 100vh; 
  background: url(cloud.png);
  opacity: 0.7;
  animation: animate 80s linear infinite; 
  background-size: cover;
} 

  @keyframes animate { 
  0% { background-position: 0px; } 
  100% { background-position: -5440px; } 
}

.title {
  position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: white;
    text-shadow: 2px 2px 8px #282d39;
    text-align: center;
}

.subtitle {
  position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 8px #282d39;
    text-align: center;
}

@media only screen and (max-width: 800px) {
  .subtitle { top: 65%; }
}

@media (min-width: 800px) {
  .subtitle { top: 60%; }
}