.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  flex-shrink: none;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: #bad9e8;
}
